name: Bun Tests

on:
  push:
    branch: ["main"]
  pull_request:
    branch: ["main"]  

env:
  API_BASE_URL: ${{..............}}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1

      - run: bun install
      - run: bun test
